<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KoreanToThaiDic1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>KoreanToThaiDic2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>KoreanToThaiDic3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0555524F1B6BE01100B4777F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>055552821B6BE06C00B4777F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C592221B42905E008BBC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>05C592371B42905E008BBC21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
